body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  position: relative;
}
.navbar {
  position: absolute;
  background: #000000;
  display: flex;
  gap: 185px;
  padding-left: 25px;
  padding-right: 50px;
  align-items: center;
}
.logos {
  width: 150px;
  height: 50px;
  object-fit: cover;
  padding-top: 10px;
}
.navul {
  color: #fff;
  display: flex;
  gap: 250px;
}
.navul li {
  list-style-type: none;
}
.navlink {
  text-decoration: none;
  color: #fff;
}
/*****/
.parentIcons {
  background: black;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  top: 59px;
  left: 0;
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 150px;
  padding-bottom: 200px;
}
.background {
  position: relative;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
}
.sous-background {
  position: absolute;
  bottom: 10px;
  right: 12px;
}
.circle {
  position: absolute;
  top: -10px;
  left: 14px;
}
.circl {
  position: absolute;

  top: -3px;
  left: 15px;
}
.title {
  rotate: -90deg;
  padding-bottom: 115px;
  color: #fff;
  width: 15px;
  transform: translate3d(0, 75px, 0);
  font-weight: 400;
}

/****home****/
.home {
  padding-top: 100px;
  padding-left: 200px;
  padding-bottom: 30px;
  font-size: 20px;
}

.nameTitre {
  color: red;
}
.titrehome {
  display: flex;
  gap: 20px;
}
.felicitation {
  height: 16px;
}

.activityChart {
  background-color: #eee;
  padding: 20px;
  position: relative;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  width: 700px;
  transform: translate3d(0, 50px, 0);
}
.activityChartToolip {
  background: red;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  height: 70px;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.activityWrap {
  height: 100%;
  width: 100%;
}

.activityChartTitle {
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  top: 30px;
  left: 30px;
}

.activityYAxis,
.activityXAxis {
  font-weight: 500;
  font-size: 14px;
}

.activityLegendColor {
  color: #74798c;
  font-size: 14px;
  font-weight: 500;
}

.horizontalgraphics {
  display: flex;
  transform: translate3d(0, 100px, 0);
  gap: 20px;
}

.sessionDuration {
  background-color: #ff0000;
  border-radius: 5px;
  height: 200px;
  width: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.sessionTitle {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.5;
  width: 150px;
  position: absolute;
  top: 10px;
  left: 30px;
}

.session {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.SimpleRadarChart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.perfomance {
  background: #282d30;
  padding: 5px;
  height: 190px;
  width: 200px;
  border-radius: 5px;
}

.circlescore {
  padding: 10px;
  height: 180px;
  width: 200px;
  border-radius: 5px;
  position: relative;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
}
.scoretoday {
  width: 100%;
  height: 100%;
}
.scoretodaytitle {
  position: absolute;
  top: 0;
  font-size: 14px;
}
.score {
  position: absolute;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  left: 75px;
  top: 60px;
  z-index: 5;
}
.scoreResult {
  font-weight: 700;
}
.scoreText {
  color: darkgray;
}
.parentblocnutrition {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 580px;
  right: 100px;
  top: 35%;
}
.blocNutrition {
  background: darkgray;
  padding: 15px;
  display: flex;
  gap: 35px;
  height: calc((580px / 4) - 120px / 4);
  background: #fbfbfb;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  align-items: center;
}
.blocNutritionimg {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.blocNutritioncaloriestext {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.blocNutritionimg {
  padding: 15px;
  background: #ffc0cb;
  border-radius: 6px;
}

.blocNutritiontext {
  font-size: 14px;
  color: darkgray;
  font-weight: 100;
}
.blocNutritioncalories {
  font-weight: 500;
}
.found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
  gap: 40px;
}
.retourPage {
  color: #ff0000;
}
.DurationChartTooltip {
  display: flex;
  width: 40px;
  height: 25px;
  background-color: #ffffff;
  font-size: 8px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
